html, body {
    height: 100%; 
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
    padding: 20px;
}

/* Fixed navigation */
.navbar {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar .logo img {
    width: 70px;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    max-width: 70%;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    margin-left: 30px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: #681237;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1;
    white-space: nowrap;
    font-family: 'Prata', serif;
    display: inline-block; 
    transition: transform 0.3s ease; 
}

.navbar nav ul li a:hover,
.navbar nav ul li a:focus {
    color: #262423;
    transform: scale(1.1);
}

/* Layout 1 */
.intro.layout-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 0;
    min-height: 100vh;
    box-sizing: border-box;
    margin-bottom: 0;
    position: relative;
}

.description {
    flex: 1;
    text-align: center;
    margin-left: 40px; 
}

.description h1 {
    color: #262423;
    font-size: 48px;
    margin-bottom: 10px;
    font-family: 'Prata', serif; 
}

.description p {
    color: #681237;
    font-size: 24px;
    font-family: 'Prata', serif; 
}

.profile-photo {
    text-align: center;
    margin-bottom: 0;
    margin: 0 40px; 
}

.profile-photo img,
.profile-photo-container img {
    width: 350px;
    transition: none;
}

/* Social media */
.social-media {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.social-media ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    margin: 0;
    padding: 0;
}


.social-media ul li {
    margin: 10px 0;
}

.social-media ul li a {
    text-decoration: none;
    color: #681237;
    font-size: 50px; 
    display: inline-block; 
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-media ul li a:hover {
    color: #262423;
    transform: scale(1.2); 
}

/* QR code */
.qrcode {
    margin-top: 20px;
    text-align: center; 
}

.qrcode img {
    width: 50px;  
    height: 50px;
    border-radius: 5px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
}

.qrcode img:hover {
    transform: scale(1.2); 
}

/* Background layout 1 */
.layout-1::after {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    height: 370px;
    background-color: #C7C4C1;
    z-index: -1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Layout About Me */
.layout-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: -80px;
}

.text-about {
    flex: 1;
    color: #262423;
    font-size: 14px;
    margin-right: 30px;
}

.text-about h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Prata', serif; 
}

.text-about p {
    line-height: 1.6;
}

.profile-photo-container {
    width: 300px;
    height: 400px;
    background-color: #262423;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 70px;
}

.profile-photo-container img {
    max-width: 80%;
    max-height: 100%;
    object-fit: cover;
}

/* Skills */
.skills-section {
    padding: 50px 0;
    background-color: #F2F2F2;
    position: relative;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    max-width: 100%;
}

.skills-column {
    flex: 1;
    padding: 40px;
    margin: 0;
    box-sizing: border-box;
}

.soft-skills,
.hard-skills {
    height: 510px;
}

.soft-skills {
    background-color: #F2F2F2;
    color: #262423;
}

.hard-skills {
    background-color: #262423;
    color: #F2F2F2;
}

.skills-column h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Prata', serif;
}

.skills-column ul {
    list-style: none;
    padding: 0;
}

.skills-column ul li {
    font-size: 13px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

/* Projects */
.projects-section {
    padding: 50px 0;
    background-color: #C7C4C1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -50px;
}

.projects-title {
    font-size: 30px;
    font-weight: bold;
    color: #262423;
    margin-top: 45px;
    margin-bottom: 5px;
    font-family: 'Prata', serif;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    max-width: 900px;
    justify-items: center;
}

.project-card {
    perspective: 1000px;
   display:flex;
    justify-content: center;
    align-items: center;
}

.project {
    width: 250px;
    height: 130px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease, z-index 0.6s ease, box-shadow 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center; 
    transform-origin: center center;
}

.project-card:hover {
    z-index: 999;
}

.project-card:hover .project {
    transform: rotateY(180deg);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}

.project-front, .project-back {
    position: absolute;
    width: 250px; 
    height: 130px; 
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;     
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-front {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.project-back {
    background-color: #262423;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    padding: 10px;
}

.project-back a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.project-back a:hover {
    color: #C7C4C1;
    transform: scale(1.1);
    text-decoration: none;
}

/* Contact */
.contact-section {
    padding: 50px 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

.contact-header {
    flex: 1;
    margin-right: 50px;
}

.contact-header h2 {
    font-size: 28px;
    font-weight: bold;
    color: #262423;
    margin-bottom: 10px;
    font-family: 'Prata', serif; /* Font per titoli */
}

.contact-header p {
    font-size: 16px;
    color: #262423;
    font-family: 'Montserrat', serif; 
}

.contact-form {
    flex: 1;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input, 
.contact-form textarea {
    background-color: #C7C4C1;
    border: none;
    border-radius: 30px;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif; 
    width: 100%;
    box-sizing: border-box;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    background-color: #681237;
    color: #f2f2f2;
    border: none;
    border-radius: 30px;
    padding: 12px 20px;
    font-size: 16px;
    font-family: 'Prata', serif;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
}

.contact-form button:hover {
    background-color: #262423;
    transform: scale(1.05);
}

.scroll-to-top {
    position: fixed; 
    bottom: 30px;    
    right: 10px;     
    color: #681237; 
    text-align: center;
    font-size: 24px; 
    cursor: pointer;
    z-index: 1000; 
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.scroll-to-top:hover {
    color: #262423; 
    transform: scale(1.1); 
}

/* Footer */
footer {
    background-color: #262423;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 0;
    font-size: 10px;
    width: 100%;
}

/* checkbox */
.menu-toggle-checkbox {
    display: none; 
}

/* hamburger */
.menu-toggle-label {
    display: none; 
    cursor: pointer;
    font-size: 30px;
    color: #681237;
    padding: 10px;
    z-index: 1001; 
}

.menu-toggle-checkbox {
    display: none; 
}

.menu-toggle-label {
    display: none; 
    cursor: pointer;
    font-size: 30px;
    color: #681237;
    padding: 10px;
    z-index: 1001; 
}

/* Responsive (max-width: 768px) */
@media (max-width: 768px) {
     /* Navbar */
    .navbar {
        display: flex;
        justify-content: flex-start; 
        padding: 10px 20px; 
        position: relative; 
    }
   
    .navbar .logo {
        display: flex;
        align-items: center;
        margin-right: 10px; 
    }
   
    .menu-toggle-label {
        display: block; 
        margin-left: auto; 
        cursor: pointer; 
        position: relative;
    }
   
    .menu-toggle-checkbox:checked ~ nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: auto;
        right: 0; 
        top: 50px; 
        background-color: #f2f2f2;
        border-radius: 5px;
        z-index: 1000;
        padding: 10px;
    }
   
    .navbar nav ul {
       display: none; 
       position: absolute;
       left: auto;
       right: 0; 
       top: 50px; 
    }
   
    .navbar nav ul li {
       margin: 10px 0; 
    }
   
    .navbar nav ul li a {
       color: #681237; 
       text-decoration: none; 
    }

    /* Layout 1 */
    .intro.layout-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 250px 20px; 
        text-align: center;
    }

    .description {
        text-align: center;
        margin-bottom: 20px;
    }

    .description h1 {
        font-size: 22px; 
        margin-bottom: 5px; 
    }

    .description p {
        font-size: 16px; 
        margin-bottom: 10px; 
    }

    .profile-photo {
        display: none; 
    }

    /* Social Media */
    .social-media {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: row; 
        margin-top: 20px; 
    }
    
    .social-media ul {
        display: flex; 
        align-items: center; 
        margin: 0; 
        padding: 0; 
        flex-direction: row; 
    }
    
    .social-media ul li {
        margin: 0 15px; 
    }
    
    .social-media ul li a i {
        font-size: 50px; 
        vertical-align: middle;
    }
    
    /* QR code */
    .qrcode {
        display: flex; 
        align-items: center; 
        margin-left: 20px; 
        transform: translateY(-5px); 
    }
    
    .qrcode img {
        width: 45px;  
        height: 45px; 
    }

    /* About Me */
    .layout-about {
        padding: 30px 15px; 
        background: #C7C4C1; 
    }

    .text-about {
        margin: 0 auto; 
    }

    .text-about h2 {
        font-size: 20px; 
        padding-top: 5px; 
        margin-bottom: 10px; 
    }

    .text-about p {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 10px; 
    }

    .profile-photo-container {
        display: none; 
    }

    /* Skills Section */
    .skills-section {
        padding: 20px 15px; 
    }

    .skills-container {
        flex-direction: column; 
    }

    .skills-column {
        padding: 15px; 
        margin-bottom: 10px; 
    }

    .skills-column h2 {
        font-size: 18px; 
    }

    .skills-column ul li {
        font-size: 14px; 
    }

    /* Project Section */
    .projects-section {
       padding: 50px 0; 
       background-color: transparent; 
    }

    .projects-container {
      display: flex;
      flex-wrap: wrap; 
      justify-content: center; 
      align-items: center;
      gap: 20px; 
    }

    .project-card {
      perspective: 1000px; 
      margin: 20px;
      width: 300px;
      height: 200px;
    }

    .project {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.6s ease-in-out;
    }

    .project-card:hover .project {
        transform: rotateY(180deg); 
    }
    
    .project-front,
    .project-back {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden; 
        border-radius: 15px;
        box-shadow: 0 8px 16px #0000004d; 
        overflow: hidden; 
    }

    .project-front {
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #fff;
    }

    .project-back {
        background: #262423; 
        color: #fff;
        transform: rotateY(180deg); 
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-size: 16px;
        text-align: center;
    }

    .project-back a {
        text-decoration: none;
        color: #f2f2f2;
        padding: 10px 15px;
        transition: background 0.3s ease;
    }
    
    .project-back a:hover {
        color: #f2f2f2;
    }
    
    .contact-section {
        padding: 20px 10px; 
        text-align: center; 
    }

    .contact-container {
        flex-direction: column; 
        align-items: center;
    }

    .contact-header {
        margin-bottom: 15px; 
    }

    .contact-header h2 {
        font-size: 20px; 
    }

    .contact-form {
        width: 100%; 
    }

    .contact-form input,
    .contact-form textarea {
        width: 100%; 
    }

    /* Footer */
    footer {
        width: 100%; 
        position: relative;
        left: 0; 
        margin: 0; 
        padding: 10px 0; 
        background-color: transparent; 
    }

    footer p  {
        color: #681237;
        text-align: center; 
        font-size: 14px;
     }

    .scroll-to-top {
        bottom: 20px;
        right: unset; 
        left: 20px; 
    }
}

